USE [БД_СУБД]
GO
/****** Object:  Table [dbo].[Budget]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budget](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[budget] [float] NULL,
	[bonus] [float] NULL,
	[Precent] [float] NULL,
 CONSTRAINT [PK_Budget] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credit]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[summa] [float] NULL,
	[year] [int] NULL,
	[percent] [float] NULL,
	[fine] [float] NULL,
	[date] [date] NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_Credit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
	[post] [int] NULL,
	[salary] [int] NULL,
	[address] [nvarchar](40) NULL,
	[phone] [varchar](12) NULL,
	[Login] [nvarchar](15) NULL,
	[Password] [nvarchar](15) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[product] [int] NULL,
	[material] [int] NULL,
	[count] [float] NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
	[unitOfMeasurement] [int] NULL,
	[count] [float] NULL,
	[price] [float] NULL,
	[cost] [float] NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pay]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Summa] [float] NULL,
	[Pay] [float] NULL,
	[Percent] [float] NULL,
	[Fine] [float] NULL,
	[DatePay] [date] NULL,
	[Credit_Id] [int] NULL,
	[Total_Summ] [float] NULL,
	[Result] [float] NULL,
	[Expired] [int] NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[post] [nvarchar](30) NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[product] [int] NULL,
	[count] [int] NULL,
	[date] [date] NULL,
	[employee] [int] NULL,
 CONSTRAINT [PK_Production] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
	[unitOfmeasurement] [int] NULL,
	[count] [int] NULL,
	[price] [float] NULL,
	[sum] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_materials]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[material] [int] NULL,
	[count] [float] NULL,
	[price] [float] NULL,
	[date] [date] NULL,
	[employee] [int] NULL,
 CONSTRAINT [PK_Purchase_materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[employee_Id] [int] NULL,
	[year] [int] NULL,
	[month] [int] NULL,
	[purchase_Count] [int] NULL,
	[production_Count] [int] NULL,
	[sale_Count] [int] NULL,
	[sum_Count] [int] NULL,
	[salary] [float] NULL,
	[pay] [bit] NULL,
	[Bonus] [float] NULL,
	[total_salary] [float] NULL,
	[is_edited] [bit] NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_products]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[product] [int] NULL,
	[count] [int] NULL,
	[price] [float] NULL,
	[sum] [float] NULL,
	[date] [date] NULL,
	[employee] [int] NULL,
 CONSTRAINT [PK_Sale_products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitsOfMeasurement]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitsOfMeasurement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
 CONSTRAINT [PK_UnitsOfMeasurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ((0)) FOR [is_edited]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Positions] FOREIGN KEY([post])
REFERENCES [dbo].[Positions] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Positions]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Materials] FOREIGN KEY([material])
REFERENCES [dbo].[Materials] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Materials]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Products] FOREIGN KEY([product])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Products]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_UnitsOfMeasurement] FOREIGN KEY([unitOfMeasurement])
REFERENCES [dbo].[UnitsOfMeasurement] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_UnitsOfMeasurement]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Employees] FOREIGN KEY([employee])
REFERENCES [dbo].[Employees] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Employees]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Products] FOREIGN KEY([product])
REFERENCES [dbo].[Products] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_UnitsOfMeasurement] FOREIGN KEY([unitOfmeasurement])
REFERENCES [dbo].[UnitsOfMeasurement] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_UnitsOfMeasurement]
GO
ALTER TABLE [dbo].[Purchase_materials]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_materials_Employees] FOREIGN KEY([employee])
REFERENCES [dbo].[Employees] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Purchase_materials] CHECK CONSTRAINT [FK_Purchase_materials_Employees]
GO
ALTER TABLE [dbo].[Purchase_materials]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_materials_Materials] FOREIGN KEY([material])
REFERENCES [dbo].[Materials] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Purchase_materials] CHECK CONSTRAINT [FK_Purchase_materials_Materials]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Employees] FOREIGN KEY([employee_Id])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_Employees]
GO
ALTER TABLE [dbo].[Sale_products]  WITH CHECK ADD  CONSTRAINT [FK_Sale_products_Employees] FOREIGN KEY([employee])
REFERENCES [dbo].[Employees] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale_products] CHECK CONSTRAINT [FK_Sale_products_Employees]
GO
ALTER TABLE [dbo].[Sale_products]  WITH CHECK ADD  CONSTRAINT [FK_Sale_products_Products] FOREIGN KEY([product])
REFERENCES [dbo].[Products] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale_products] CHECK CONSTRAINT [FK_Sale_products_Products]
GO
/****** Object:  StoredProcedure [dbo].[AddCredit]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCredit]
@Summa FLOAT,
@Year INT,
@Percent FLOAT,
@Fine FLOAT,
@Date DATE,
@Description TEXT
AS
BEGIN
INSERT INTO Credit(summa,year,[percent],fine,date,description) 
VALUES(@Summa,@Year,@Percent,@Fine,@Date,@Description);
END
GO
/****** Object:  StoredProcedure [dbo].[CalculateSalary]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateSalary]
@Year INT,
@Month INT
AS
BEGIN
DECLARE @bonusFromBudget FLOAT;
DECLARE @TempTable TABLE(
Employee INT,
BaseSalary FLOAT,
Purchase_Count INT,
Production_Count INT,
Sale_Count INT,
Bonus FLOAT,
Total_Salary FLOAT
);
SELECT @bonusFromBudget = bonus FROM Budget WHERE ID=1;

INSERT INTO @TempTable(Employee,BaseSalary,Purchase_Count,Production_Count,Sale_Count,Bonus,Total_Salary)
SELECT 
S.ID AS Employee,
S.salary,
ISNULL(PM.Purchase_Count,0),
ISNULL(PP.Production_Count,0),
ISNULL(SP.Sale_Count,0),
S.salary *@bonusFromBudget / 100 *
(ISNULL(PM.Purchase_Count,0) + ISNULL(PP.Production_Count,0) + ISNULL(SP.Sale_Count,0)),
S.salary + S.salary *@bonusFromBudget / 100 *
(ISNULL(PM.Purchase_Count,0) + ISNULL(PP.Production_Count,0) + ISNULL(SP.Sale_Count,0))
FROM Employees S
LEFT JOIN(
SELECT employee, COUNT(*) AS Purchase_Count
FROM Purchase_materials
WHERE YEAR(date) = @Year AND MONTH(date) = @Month
GROUP BY employee
)PM ON S.ID = PM.employee
LEFT JOIN(
SELECT employee, COUNT(*) AS Production_Count
FROM Production
WHERE YEAR(date) = @Year AND MONTH(date) = @Month
GROUP BY employee
)PP ON S.ID = PP.employee
LEFT JOIN(
SELECT employee, COUNT(*) AS Sale_Count
FROM Sale_products
WHERE YEAR(date) = @Year AND MONTH(date) = @Month
GROUP BY employee
)SP ON S.ID = SP.employee



INSERT INTO Salary(employee_Id,salary,purchase_Count,production_Count,sale_Count,sum_Count,Bonus,total_salary, pay, is_edited, year,month)
SELECT
Employee,
BaseSalary,
Purchase_Count,
Production_Count,
Sale_Count,
Purchase_Count + Production_Count + Sale_Count,
Bonus,
Total_Salary,
0,
0,
@Year,
@Month
FROM @TempTable
WHERE NOT EXISTS(SELECT 1 FROM Salary 
WHERE employee_Id = Employee AND year = @Year AND month = @Month
)
SELECT 
S.ID,
e.name,
S.salary,
S.purchase_Count,
S.production_Count,
S.sale_Count,
S.sum_Count,
S.Bonus,
S.total_salary, 
S.pay
FROM Salary S
JOIN Employees e ON S.employee_Id = e.ID
WHERE year = @Year AND month = @Month

SELECT SUM(total_salary) FROM Salary
WHERE year = @Year AND month=@Month;

END
GO
/****** Object:  StoredProcedure [dbo].[CreditInfo]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreditInfo]
AS
BEGIN
SELECT ID, summa,year,[percent],fine,date,description FROM Credit
END
GO
/****** Object:  StoredProcedure [dbo].[CreditPay]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreditPay]
@CreditId INT,
@Date DATE
AS
BEGIN

DECLARE @Pay FLOAT;
DECLARE @Percent FLOAT;
DECLARE @Total_Summ FLOAT;
DECLARE @Summa FLOAT;
DECLARE @Expired INT;
DECLARE @Fine FLOAT;
DECLARE @Result FLOAT;
DECLARE @Credit FLOAT;
DECLARE @DateFromCredit DATE;
DECLARE @YearFromCredit INT;
DECLARE @PercentFromCredit FLOAT;
DECLARE @FineFromCredit FLOAT;


SELECT @Credit = summa, @YearFromCredit = year,@PercentFromCredit = [percent],@FineFromCredit = fine, @DateFromCredit = date FROM Credit WHERE ID=@CreditId;
SET @Pay = @Credit / @YearFromCredit /12;

DECLARE @LastSumma FLOAT;
SELECT TOP 1 @LastSumma = summa
FROM Pay
WHERE Credit_Id = @CreditId
ORDER BY DatePay DESC;

IF @LastSumma IS NULL
BEGIN
SET @LastSumma = @Credit
END

SET @Percent = @LastSumma / @PercentFromCredit / 12 / 100;
SET @Total_Summ = @Pay + @Percent;
SET @Summa = @LastSumma - @Pay;
SET @Expired = DAY(@Date) - DAY(@DateFromCredit);
IF @Expired > 0
BEGIN
SET @Fine = @Total_Summ * @Expired;
END
ELSE 
BEGIN
SET @Expired = 0;
SET @Fine = 0;
END
SET @Result = @Total_Summ + @Fine;

SELECT
@Date,@Pay,@Percent,@Total_Summ,@Summa,@Expired,@Fine,@Result,@Credit
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteSaleProducts]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSaleProducts]
@Id INT
AS
BEGIN
DELETE FROM Sale_products WHERE ID=@Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EditSalary]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditSalary]
@Id INT,
@Total_salary INT
AS
BEGIN
IF @Total_salary IS NOT NULL
BEGIN
UPDATE Salary SET total_salary=@Total_salary, is_edited=1
WHERE ID=@Id;
END

SELECT 
s.ID, e.name, s.total_salary, s.year, s.month 
FROM Salary s
JOIN Employees e ON s.employee_Id = e.ID
WHERE s.ID=@Id;

END
GO
/****** Object:  StoredProcedure [dbo].[EditSaleProduct]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditSaleProduct]
@ProductId INT,
@Count INT,
@Date DATE,
@EmployeeId INT,
@Id INT
AS
BEGIN
DECLARE @countProducts INT; -- количество продуктов на складе
DECLARE @priceProduct FLOAT; -- общая цена продуктов
DECLARE @oldCountSaleProduct INT; -- старое количество продуктов которое продали
DECLARE @oldPriceSaleProduct FLOAT; -- старая цена от продажи продукта
DECLARE @newPriceSaleProduct FLOAt; -- новая цена за продажу продукта
DECLARE @precentFromBudget FLOAT; -- процент от продаж
DECLARE @oldPriceWithPrecent FLOAT; -- старая цена вместе с процентом за продажу продукта
DECLARE @newPriceWithPrecent FLOAT; -- новая цена вместе с процентом за продажу продукта

SELECT @countProducts = count, @priceProduct = sum FROM Products 
WHERE ID=@ProductId;

SELECT @oldCountSaleProduct = count FROM Sale_products WHERE ID=@Id;

IF @Count > @countProducts + @oldCountSaleProduct
BEGIN
RAISERROR('Не хватает продукта для продажи',16,1);
RETURN;
END

SET @newPriceSaleProduct = @priceProduct / @countProducts * @Count; -- старая цена
SET @oldPriceSaleProduct = @priceProduct / @countProducts * @oldCountSaleProduct; -- новая цена

UPDATE Products SET count = count + @oldCountSaleProduct - @Count, sum = sum + @oldPriceSaleProduct - @newPriceSaleProduct
WHERE ID = @ProductId;

SELECT @precentFromBudget = precent FROM Budget WHERE ID=1;

SET @oldPriceWithPrecent = @oldPriceSaleProduct + (@oldPriceSaleProduct * @precentFromBudget / 100);
SET @newPriceSaleProduct = @newPriceSaleProduct + (@newPriceSaleProduct * @precentFromBudget / 100);

UPDATE Budget SET budget = budget + @newPriceWithPrecent - @oldPriceWithPrecent
WHERE ID=1;

UPDATE Sale_products SET product = @ProductId, count=@Count, date=@Date, employee=@EmployeeId
WHERE ID=@Id;

END;
GO
/****** Object:  StoredProcedure [dbo].[GetSaleProductEdit]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSaleProductEdit]
@Id INT
AS
BEGIN
SELECT ID, product, count, date,employee FROM Sale_products
WHERE ID=@Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSaleProductsInfo]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSaleProductsInfo]
AS
BEGIN
SELECT s.ID, p.name, ROUND(s.count,2),ROUND(s.sum,2),date,e.name FROM Sale_products s
JOIN Products p ON s.product = p.ID
JOIN Employees e ON s.employee = e.ID
END
GO
/****** Object:  StoredProcedure [dbo].[InsertNewSaleProducts]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertNewSaleProducts]
@ProductId INT,
@Count INT,
@Date Date,
@EmployeeId INT
AS
BEGIN
DECLARE @countProducts INT; -- количество продуктов на складе
DECLARE @sumProducts FLOAT; -- цена продуктов на складе
DECLARE @precentBudget INT; -- процент от продаж
DECLARE @sumSaleProducts FLOAT; -- сумма от продажи продукта
DECLARE @sumWithPrecent FLOAT; -- сумма от продаж плюс процент

SELECT @countProducts = count, @sumProducts=sum FROM Products WHERE ID = @ProductId;

 IF @countProducts < @Count
    BEGIN
        RAISERROR('Недостаточно товара для продажи', 16, 1);
       
        RETURN;
    END
SET @sumSaleProducts = @sumProducts / @countProducts * @Count; -- цена от продажи продукта
UPDATE Products SET count = count - @Count, sum = sum - @sumSaleProducts WHERE ID=@ProductId;

SELECT @precentBudget = Precent FROM Budget WHERE ID=1;
SET @sumWithPrecent = @sumSaleProducts + (@sumSaleProducts * @precentBudget / 100);
UPDATE Budget SET budget=budget+@sumWithPrecent WHERE ID=1;

INSERT INTO Sale_products(product,count,sum,date,employee) VALUES(@ProductId,@Count,@sumSaleProducts,@Date,@EmployeeId);
END;
GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUser]
@Login NVARCHAR(15),
@Password NVARCHAR(15)
AS
BEGIN
SELECT name, post FROM Employees 
WHERE Login = @Login AND Password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[PayCredit]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PayCredit]
@CreditId INT,
@Date DATE
AS
BEGIN
DECLARE @TempTable TABLE (
DatePay DATE,
Pay FLOAT,
[Percent] FLOAT,
Total_Sum FLOAT,
Summa FLOAT,
Expired INT,
Fine FLOAT,
Result FLOAT,
Credit FLOAT
);
DECLARE @Pay FLOAT;
DECLARE @Percent FLOAT;
DECLARE @Total_Sum FLOAT;
DECLARE @Summa FLOAT;
DECLARE @Expired INT;
DECLARE @Fine FLOAT;
DECLARE @Result FLOAT;
DECLARE @Summ_Credit FLOAT;
DECLARE @Year INT;
DECLARE @PercentOfCredit FLOAT;
DECLARE @FineOfCredit FLOAT;
DECLARE @DateOfCredit DATE;

SELECT @Summ_Credit=summa, @Year=year, @PercentOfCredit=[percent], @FineOfCredit=fine, @DateOfCredit=date FROM Credit
WHERE ID=@CreditId;

SELECT @Summa = Summa FROM Pay
WHERE Credit_Id = @CreditId
ORDER BY DatePay DESC;

IF @Summa IS NULL
SET @Summa = @Summ_Credit;

SET @Pay = @Summ_Credit / @Year / 12;
SET @Percent = @Summa*@PercentOfCredit / 12 / 100;
SET @Total_Sum = @Pay + @Percent;
SET @Summa = @Summa - @Pay;
SET @Expired = DAY(@Date) - DAY(@DateOfCredit);

IF @Expired < 0
SET @Expired = 0;

IF @Expired > 0
SET @Fine = @Total_Sum / 100 * @FineOfCredit * @Expired;
ELSE 
SET @Fine = 0;

SET @Result = @Total_Sum + @Fine;

INSERT INTO @TempTable(DatePay, Pay,[Percent],Total_Sum,Summa,Expired,Fine,Result,Credit)
VALUES(@Date,@Pay,@Percent,@Total_Sum,@Summa,@Expired,@Fine,@Result,@Summ_Credit);

SELECT  DatePay,Pay,[Percent],Total_Sum,Summa,Expired,Fine,Result,Credit
FROM @TempTable;

END;
GO
/****** Object:  StoredProcedure [dbo].[PaySalaries]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaySalaries]
@Year INT,
@Month INT
AS
BEGIN
DECLARE @total_sum FLOAT;

SELECT @total_sum = SUM(total_salary) FROM Salary
WHERE year = @Year AND month = @Month AND pay = 0;

DECLARE @budget FLOAT;
SELECT @budget = budget FROM Budget WHERE ID=1;

IF @total_sum > @budget
BEGIN
RAISERROR('Не хватает бюджета для выплаты зарплат',16,1);
RETURN;
END

ELSE
BEGIN
UPDATE Salary SET pay = 1 WHERE year = @Year AND month = @Month AND pay = 0;

UPDATE Budget SET budget = budget - @total_sum WHERE ID=1;
END
END;
GO
/****** Object:  StoredProcedure [dbo].[RepeatPay]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RepeatPay]
@Year INT,
@Month INT
AS
BEGIN
DECLARE @Budegt FLOAT;
SELECT @Budegt = budget FROM Budget 
WHERE ID=1;
DECLARE @TotalSum FLOAT;
SELECT @TotalSum = SUM(total_salary) FROM Salary
WHERE year = @Year AND month = @Month;
IF @Budegt < @TotalSum
BEGIN
RAISERROR('Не хватает бюджета для выплаты',16,1);
RETURN;
END
ELSE
BEGIN
UPDATE Salary SET pay = 1 
WHERE pay = 0 AND year = @Year AND month = @Month;
UPDATE Budget SET budget = budget - @TotalSum
WHERE ID=1;
END

END
GO
/****** Object:  StoredProcedure [dbo].[RepeatPro]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RepeatPro]
@Year INT,
@Month INT
AS
BEGIN
DECLARE @Bonus FLOAT;
SELECT @Bonus = bonus FROM Budget
WHERE ID=1;
DECLARE @TempTable TABLE(
Employee INT, 
BaseSalary FLOAT,
Purchase_Count INT,
Production_Count INT,
Sale_Count INT,
Sum_Count INT,
Bonus FLOAT,
Total_Salary FLOAT
);

INSERT INTO @TempTable(Employee,BaseSalary,Purchase_Count,Production_Count,Sale_Count,Sum_Count,Bonus,Total_Salary)
SELECT
e.ID,
e.salary,
ISNULL(PM.Purchase_Count,0),
ISNULL(PP.Production_Count,0),
ISNULL(SP.Sale_Count,0),
ISNULL(PM.Purchase_Count,0)+ISNULL(PP.Production_Count,0)+ISNULL(SP.Sale_Count,0),
e.salary * @Bonus / 100 *
(ISNULL(PM.Purchase_Count,0)+ISNULL(PP.Production_Count,0)+ISNULL(SP.Sale_Count,0)),
e.salary + e.salary * @Bonus / 100 * 
(ISNULL(PM.Purchase_Count,0)+ISNULL(PP.Production_Count,0)+ISNULL(SP.Sale_Count,0))
FROM Employees e
LEFT JOIN(
SELECT employee,COUNT(*) AS Purchase_Count
FROM Purchase_materials
WHERE YEAR(date) = @Year AND MONTH(date) = @Month
GROUP BY employee)PM ON e.ID = PM.employee
LEFT JOIN(
SELECT employee, COUNT(*) AS Production_Count
FROM Production
WHERE YEAR(date) = @Year AND MONTH(date) = @Month
GROUP BY employee
)PP ON e.ID = pp.employee
LEFT JOIN(
SELECT employee, COUNT(*) AS Sale_Count
FROM Sale_products
WHERE YEAR(date) = @Year AND MONTH(date) = @Month
GROUP BY employee
)SP ON e.ID = SP.employee

INSERT INTO Salary(employee_Id,salary,purchase_Count,production_Count,sale_Count,sum_Count,Bonus,total_salary,pay,year,month)
SELECT
Employee,BaseSalary,Purchase_Count,Production_Count,Sale_Count,Sum_Count,Bonus,Total_Salary,0,@Year,@Month
FROM @TempTable
WHERE NOT EXISTS(
SELECT 1 FROM Salary
WHERE employee_Id = Employee AND year = @Year AND month = @Month);

SELECT 
s.ID,
e.name,
s.salary,
s.purchase_Count,
s.production_Count,
s.sale_Count,
s.sum_Count,
s.Bonus,
s.total_salary,
s.pay
FROM Salary s
JOIN Employees e ON s.employee_Id = e.ID
WHERE year = @Year AND month = @Month;

SELECT SUM(total_salary) FROM Salary
WHERE year = @Year AND month = @Month;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveCredit]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveCredit]
@Date DATE,
@Pay FLOAT,
@Percent FLOAT,
@Total_Summ FLOAT,
@Summa FLOAT,
@Expired INT,
@Fine FLOAT,
@Result FLOAT,
@CreditId INT
AS
BEGIN
DECLARE @Check INT;
DECLARE @Year INT;
DECLARE @Month INT;
DECLARE @Budget FLOAT;
SET @Year = YEAR(@Date);
SET @Month = MONTH(@Date);

SELECT @Check = COUNT(*) FROM Pay
WHERE Credit_Id = @CreditId AND YEAR(DatePay) = @Year AND MONTH(DatePay) = @Month ;
IF @Check > 0
BEGIN
RAISERROR('За этот месяц уже был оплачен кредит',16,1);
RETURN;
END
SELECT @Budget = budget FROM Budget WHERE ID=1;
IF @Result > @Budget
BEGIN
RAISERROR('Не хватает бюджета для оплаты за кредит',16,1);
RETURN;
END

INSERT INTO Pay(DatePay,Pay,[Percent],Total_Summ,Summa,Expired,Fine,Result,Credit_Id)
VALUES(@Date,@Pay,@Percent,@Total_Summ,@Summa,@Expired,@Fine,@Result,@CreditId);
END
GO
/****** Object:  StoredProcedure [dbo].[SavePayCredit]    Script Date: 23.07.2025 9:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SavePayCredit]
@Date DATE,
@Pay FLOAT,
@Percent FLOAT,
@Total_Summ FLOAT,
@Summa FLOAT,
@Expired INT,
@Fine FLOAT,
@Result FLOAT,
@CreditId INT
AS
BEGIN
DECLARE @ChechPay INT;
DECLARE @Budget FLOAT;
SELECT @Budget = budget FROM Budget WHERE ID=1;

IF @Budget < @Result
BEGIN
RAISERROR('Не хватает бюджета для оплаты',16,1);
RETURN;
END

DECLARE @YearDate INT;
DECLARE @Month INT;
SET @YearDate = YEAR(@Date);
SET @Month = Month(@Date);

SELECT @ChechPay = COUNT(*) FROM Pay
WHERE Credit_Id = @CreditId AND YEAR(DatePay) = @YearDate AND MONTH(DatePay) = @Month;

IF @ChechPay > 0 
BEGIN
RAISERROR('За этот месяц была опалата за кредит',16,1);
RETURN;
END

UPDATE Budget SET budget = budget - @Result WHERE ID=1;
INSERT INTO Pay (summa, pay, [Percent], fine, DatePay, Credit_id, Total_Summ, Result, Expired)
VALUES(@Summa,@Pay,@Percent,@Fine,@Date,@CreditId,@Total_Summ,@Result,@Expired);

END;
GO
